
:root {
  /* --- TIER 1: PRIMITIVES (The Source) --- */
  --p-pink-100: #fcf4f2; /* Lightest */
}

$pink: #ffb4a3;
$pink-light: #ffe3dc;
$pink-lightest: #fcf4f2;

$color-primary: hsl(0, 0%, 10%);
$color-secondary: #314399;
$color-text: #4e4c5e;
$color-subtext: hsl(0, 0%, 30%);
$color-border: $color-primary;
$color-box-background: white;
$color-background: #faf3f1;
$color-bright: #fcf4f2;
$color-accent: #ffb4a3;
$highlight: #314399;
$border-radius: 4px;
$font-family: Newsreader, Georgia, -apple-system, BlinkMacSystemFont, Segoe UI, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-family-sans-serif: Avenir, Helvetica, Arial, sans-serif;


body {
  font-family: $font-family !important;
  line-height: 1.65;
  color: $color-text !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin: 0;
  min-height: 100vh;
  background-color: #fbf4f3;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  /* 2. THE GRAIN (Top Layer) */
   
  background-image: 
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='1.5' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 15 -7'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(circle, #fbf4f3 40%, #faf0ee 90%);
    

  /* 3. THE BLEND SETTINGS */
  /* This tells the browser how to mix the two background-images above */
  background-blend-mode: color-burn; 
  background-size: 900px 900px, auto;
  
  /* Reset opacity to 1 because color-burn handles the transparency/intensity */
  opacity: 1; 
}

/* Mobile adjustments */
@media (max-width: 768px) {
  body::before {
    /* 1. Make the frequency lower to create larger clumps for mobile */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='1.5' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 25 -10'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E"), radial-gradient(circle, #fbf4f3 40%, #faf0ee 90%);
  }
}

.header-meta {
    font-family: $font-family-sans-serif;
}

.content {
    font-family: $font-family !important;
    font-size:20px;
}

p {
  margin-bottom: 1.5rem;
}

li {
  margin-bottom: 0.7rem;
}


time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  border-radius: $border-radius;
}


.content blockquote {
  font-size: 0.8em;
  border-left: 3px solid $color-accent;
  font-family: $font-family-sans-serif;
  p {
    margin: 0;
  }
}

// icons hr
.markdown-rendered hr {
  height: auto;
  color: $color-accent;
  text-align: center;
  border-top: 0;

  &:after {
    content: "✀ ✀ ✀";
    content: "✐ ✎ ✐ ✎ ✐ ✎";
    content: "◐ ◒ ◑ ◓ ◐ ◒ ◑ ◓ ◐ ◒ ◑ ◓ ◐ ◒ ◑ ◓";
    content: "◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡◠◡";
    font-size: 0.5em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1;
  letter-spacing: -0.01em;
  color: $highlight !important;
  font-weight: 500 !important;
 }

 h1 {
  font-size: 2em !important;
  letter-spacing: -0.03em;
  line-height: 1.1 !important;
  margin-bottom: 5px !important;

  @media (min-width: 780px) { 
    font-size: 2.2em !important;
  } 
    
 }

 h2 {
  font-size: 1.5em !important;
 }

 h3 {
  font-size: 1.2em;
 }

.content a, .sidebar a {
  transition: background-color 300ms;
  color: $color-secondary !important;
  text-decoration-thickness: .05em;
  text-underline-offset: 0.15em;
  &:hover {
    text-decoration-thickness: .1em;
    background: #ffe3dc;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

/* ----------------------
LAYOUT
---------------------- */

nav.filetree-sidebar, nav.navbar {
  max-width: 490px;
  margin: 1rem auto 3rem;
  position: relative !important;
  background: transparent;
  font-size: 1.12rem !important;
  @media (min-width: 720px) {
    width: 100%;
  }
  .navbar-inner {
    display: block !important;
  }
  .search-button, .folder, span, h1 {
        display: none !important;
    }
  a#logo {
    display: block;
    text-decoration: none;
    border: 0;
    width: 180px;
    
    @media (min-width: 720px) {
      float: left;
      width: 180px;
      margin: 0.75rem 0 2rem;
    }
    &:hover {
      background: none;
    }
  }
  ul#topnav {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0.5em;
    @media (min-width: 720px) {
      float: left;
      padding-left: 0.95em;
    }
    li {
      padding: 1em 0.8em;
      float: left;
      @media (min-width: 720px) {
        padding: 1em;
      }
      a {
        display: block;
        padding: 0;
        font-family: $font-family-sans-serif;
        font-weight: bold;
        border-bottom: 0;
        color: $color-text;
        text-decoration: none;
        &:hover {
          background-color: transparent;
          color: $color-secondary;
          box-shadow: inset 0px -0.25em 0px #ffb4a3;
          transition: box-shadow 0.2s;
        }
      }
    }
  }

}

.wrapper {
  clear: both;
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

content {
  max-width: 37.8em;
}

aside .sidebar {
    position: relative !important;
    top: auto;
    right: auto;
    display: block !important;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

side, time {
  font-family: $font-family-sans-serif;
}

side {
  font-size: 0.9rem;
  h3 {
    margin-bottom: 1em;
    font-size: 1.2rem;
    margin-top: 4em;
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

.sidebar .backlinks {
    //border-radius: 4px;
    //background-color: rgb(102 122 247 / 10%);
    font-family: $font-family-sans-serif;
    padding: 1.5em 2em;
    //margin-bottom: 3em;
    //margin-top: 3em;
    .backlink-title {
      margin: 4px 0 8px;
      font-size: 16px !important;
      position: relative;
      z-index:1;
    }
    .backlink-list {
      border: 0;
      max-height: none;
      position: relative;
      z-index:1;
      .backlink-card {
        margin-left: 0;
        a {
            text-decoration: none;
        }
      }
    }

    .backlink[data-note-icon]::before {
      margin-right: 5px;
    }
}

.sidebar .backlinks::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    filter: url(#visible-displace);
    z-index: 0;
    box-shadow: 1px 0px 3px rgb(185 140 129 / 20%);
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
  font-family: $font-family-sans-serif;
  clear: both;
  p {
    max-width: 24em;
  }
}


/* ----------------------
NOTE AND POST ELEMENTS
---------------------- */

header {
    text-align: center;
    padding-bottom: 2em;
}

.content .markdown-rendered h1 {
  margin: 15px 0 5px;
  line-height: 1.1;
}



.timestamps {
  justify-content: center;
  margin-top: 0;
}

@media (max-width: 700px) {
.timestamps {
  display: block;
  div {
    display: block;
  }
}
}

.timestamps div{
  clear: left;
  font-size: 0.85rem;
}

.header-tags {
  margin-top: 0.5em;
}

a.tag {
  background: $color-accent;
  border-color: $color-accent;
  padding: 2px 6px;
  font-family: $font-family-sans-serif;
  margin-right: 5px;
  font-size: 0.85rem;
  border-radius: $border-radius;
    &:hover {
    color: white;
    background-color: $highlight;
  }
}

/* wide images in articles */
.markdown-preview-view .content img:not([width]) {
  @media (min-width: 1000px) {
    max-width: 130%;
    margin-left: -15%;
  }
}

/* gallery pages */

.markdown-preview-view .content.gallery .block-language-dataview {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1em;

  width: 100%;
  max-width: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;

  /* super wide */

  @media (min-width: 720px) {
    width: 100%;
    max-width: none;
  }
  @media (min-width: 1050px) {
    width: 1050px;
    max-width: none;
    margin-left: -200px;
  }

  img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    margin-left: 0;
  }

  li {
    width: 100%;
    background: #fff;
    font-size: 0;
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    a {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      z-index: 1;
      &:hover {
        font-size: 1rem;
        text-align: center;
        vertical-align: middle;
        padding: 2em;
        text-decoration: none !important;
        background: rgba(0,0,0,0.7);
      }
    }
  }

  &.four-three-ratio {
    li {
      aspect-ratio: 3 / 2;
    }
  }
}

img.two-col {
  
  @media (min-width: 720px) {
    width: 50%;
    float: left;
    margin-bottom: 1em;
    border-right: 2px solid $color-background;
  }
}

#recently {
  clear: both;
  padding-top: 2em;
}

.boxes {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1em;
  li {
    margin: 1.5em 0;
  }
}

.superwide {
  @media (min-width: 720px) {
    width: 720px;
    max-width: none;
    margin-left: -35px;
  }
  @media (min-width: 1050px) {
    width: 1050px;
    max-width: none;
    margin-left: -200px;
  }
}

figure {
  margin: 0;
  figcaption {
  text-align: center;
  font-size: 0.8em;
  }
}

q {
  background: #f9cdc28f;
}

/* ----------------------
HOMEPAGE
---------------------- */

.homepage {
  max-width: 700px;
  margin: 0 auto;
  h2 {
    font-weight: normal;
    line-height: 1.3;
    font-size: 1.5em;
    font-family: $font-family !important;
    @media (min-width: 600px) {
      width: 70%; 
      max-width: 550px;
    }
  }
  h2#recently-updated {
    clear: both;
    width: 100%;
    float: none;
    font-weight: bold;
    font-size: 1em;
    font-family: $font-family-sans-serif !important;
}
  img {
    max-width: 200px;
    @media (min-width: 600px) {
      width: 30%;
      float: right;
    }
  }
}

.simple {
  .header-meta, +aside {
    display: none;
  }
}

/* ----------------------
FORMS
---------------------- */

form, .box {
  padding: 1em;
  background: $color-secondary;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 3em;
  @media (min-width: 720px) {
    padding: 1em 3.6em;
  }
  p {
    text-align: center;
  }
}

input#bd-email {
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
  width: 92%;
  background: $color-background;
  border: 1px solid #fff;
  font-family: $font-family;
  @media (min-width: 720px) {
    margin: 0 0.5em 0 0.25em;
    width: 250px;
  }
}

input.btn {
  background: #ffb4a3;
  border: 1px solid #ffb4a3;
  color: $color-secondary;
  padding: 0.25em 0.5em;
  font-family: $font-family;
  transition:  0.2s;

  &:hover {
    background: $color-primary;
    color: #ffb4a3;
    border-color: #ffb4a3;
    cursor: pointer;
    
  }
}

.book-list > div {
  @media (min-width: 520px) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.book-list img {
  margin-bottom: 1rem;
  border-radius: 2px !important;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
}


.writing-list ul {
  margin-left: 0;
  padding-left: 0;
}
.writing-list li {
  list-style-type: none;
  margin-bottom: 2rem;
}
.writing-list a {
  font-size: 1.5rem;
  line-height: 1;
}
.writing-list .posted {
  font-size: 0.9rem;
  clear: both;
  display: block;
}

.markdown-preview-view:not(.cards) .table-view-table>tbody>tr>td, .markdown-source-view.mod-cm6:not(.cards) .table-view-table>tbody>tr>td {
    max-width: 500px;
}


.mosaic {
  max-width: 800px;

  /* Container for the Dataview Table/List */
  .dataview.table-view-table {
      display: block; /* Override default table display */
  }

  .dataview.table-view-table tbody {
      column-gap: 3.5rem;
      display: block;
      width: 100%;
      @media (min-width: 700px) {
              column-count: 2; 
      }
  }


  .dataview.table-view-table tr {
      display: inline-block; 
      width: 100%;
      margin-bottom: 0.5rem;
      break-inside: avoid;
      background: none; 
      padding: 1.5rem 0;
      border-bottom: 1px solid #ffe2df;
  }

  /* Hide table headers and cells that aren't needed in card view */
  .dataview.table-view-table thead {
      display: none;
  }

  .dataview.table-view-table td {
      display: block;
      padding: 0;
      border: none;
  }

  .dataview.table-view-table img {
      width: 100%;
      height: auto;
      border-radius: 4px;
      margin-top: 10px;
  }
}

  .markdown-rendered td {
    font-size: 1rem;
  }

  

  /*-- Posts page --*/

  .posts-index {
    ul{
      padding-left: 0;
      text-align: center;
      li {
        list-style-type: none;
        display: inline;  
        
        a {
          font-size: 0.85rem;
          font-family: Avenir, Helvetica, Arial, sans-serif;
          text-decoration: none !important;
          text-transform: uppercase;
          padding: 0.25em 0.6em;
          font-weight:bold;
          background: $pink-light;
          border: 1px solid  $pink-light;
          margin: 0 5px;
          &:hover {
            border: 1px solid lighten($color-secondary,20%);
          }
        }
      }
    }

    /* Category */
    .dataview.table-view-table td:nth-child(1) {
        text-transform: uppercase;
        font-size: 0.75rem;
        font-family: $font-family-sans-serif;
        a {
          text-decoration:none;
        }
    }

    /* title */
    .dataview.table-view-table td:nth-child(2) {
      font-size: 1.5rem;
      line-height:1.1;
      padding: 0.2em 0;
      a {
          text-decoration:none;
        }
    }

    .dataview.table-view-table td:nth-child(3) {
      display:none;
    }

    /* Date Posted */
    .dataview.table-view-table td:nth-child(6) {
        font-size: 0.85rem;
        font-family: $font-family-sans-serif;
        margin-top: 0.3rem;
    }
  }

    /*-- Notes page --*/

    /* title */
    .dataview.table-view-table td:nth-child(1) {
      font-size: 1.5rem;
      line-height:1.1;
      padding: 0.2em 0;
      a {
          text-decoration:none;
        }
    }

    /* Date Posted */
    .dataview.table-view-table td:nth-child(3) {
        display: block;
        font-size: 0.85rem;
        font-family: $font-family-sans-serif;
        margin-top: 0.3rem;
    }

@media (min-width: 1000px) {
    .markdown-preview-view .content.mosaic img:not([width]) {
        max-width: 100%;
        margin-left: 0;
    }
}

.table-view-table>thead>tr, .table-view-table>tbody>tr {
    margin-top: 0.5em !important;
}