<a id="logo" class="internal-link" href="/"><img src="/img/user/assets/logo_black.png" alt="Teresa Watts"></a>
<ul id="topnav">
    <li><a href="/writing">Writing</a></li>
    <li><a href="/art">Making</a></li>
    <li><a href="/books/books-i-ve-read-in-2025/">Reading</a></li>
    <li><a href="/letters">Letters</a></li>
</ul>