<a id="logo" class="internal-link" href="/"><img src="/img/user/assets/logo_black.png" alt="Teresa Watts"></a>
<ul id="topnav">
    <li><a href="/about">About</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/letters">Letters</a></li>
</ul>