---
layout: layouts/index.njk
title: Art
contentClass: wide
pagination:
  data: collections.art
  size: 12
  generatePageOnEmptyData: true
permalink: "/art/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
showImages: true
hideExcerpts: true
listClass: art-grid
eleventyExcludeFromCollections: true
---
<p class="index-intro">Some things I've made, sketched or painted. I like to dabble in different media so expect a lot of variety! You might also like to see my <a href="/sketchbooks/">sketchbooks</a>.</p>
