---
layout: layouts/index.njk
title: Books
pagination:
  data: collections.books
  size: 12
  generatePageOnEmptyData: true
permalink: "/books/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
showImages: true
listClass: book-list
eleventyExcludeFromCollections: true
eleventyImport:
  collections: ["snippets"]
---
{%- for snip in collections.snippets %}{% if snip.data.snippet == "books-in-progress" %}{{ snip.templateContent | safe }}{% endif %}{% endfor %}
<hr>
<h2>Completed</h2>
