---
layout: layouts/base.njk
title: Home
bodyClass: page-home
contentClass: homepage simple
eleventyExcludeFromCollections: true
---
<img class="portrait" src="/img/user/assets/portraitofme.png" alt="Watercolour portrait of Teresa Watts" width="195">
<h2>Hi there!</h2>
<p>I’m a UX designer &amp; artist, who sometimes <a class="internal-link" href="/writing/">writes</a>, makes <a class="internal-link" href="/art/">art</a>, <a class="internal-link" href="/sketching/">sketches</a> and other fun things. You might be interested in what I'm up to <a class="internal-link" href="/now/">Now</a>.</p>
