---
layout: layouts/index.njk
title: Sketchbooks
pagination:
  data: collections.sketchbooks
  size: 12
  generatePageOnEmptyData: true
permalink: "/sketchbooks/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
showImages: true
hideExcerpts: true
listClass: art-grid
eleventyExcludeFromCollections: true
---
<p class="index-intro">There's something kind of cool about having all your artwork together in a book. Even if individually each page is not amazing, collectively they tell a story and show skills evolving over time.</p>
<p class="index-intro">I've gone back to keeping physical sketchbooks since the start of 2023, and I'll be numbering them on a rolling basis rather than tied to the year.</p>
