---
layout: layouts/index.njk
title: Sketching
pagination:
  data: collections.sketching
  size: 12
  generatePageOnEmptyData: true
permalink: "/sketching/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
showImages: true
hideExcerpts: true
listClass: art-grid
eleventyExcludeFromCollections: true
---
<p class="index-intro">I love the way that translating complex ideas into a visual format can make it more understandable and interesting to look at! I try to use sketches, diagrams and drawings both to figure things out for myself, and to explain things to others.</p>
<p class="index-intro">One practice I’ve found especially useful is creating sketchnotes during talks and meetings – I find it helps me listen more deeply in the moment, and to remember the most important points afterwards.</p>
